[user]
	name = Konstantin Budikhin
	email = me@bood.su
[gc]
	autoDetach = false
[alias]
	history = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
